@import "./style/reset";
@import "./style/variables";
@import "./style/mixins";
@import "./style/extends";
@import "./style/header";
@import "./style/hero-block";
@import "./style/revolutionary";
@import "./style/here";
@import "./style/testimonials";
@import "./style/fork";
@import "./style/media";

body {
  margin: 0;
	padding: 0;
  width: 100vw;
  // @include fontStyle(16px, 400, 1, $main-text-color, left, none,'Montserrat');
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
}